body {
    margin: 0px;
    padding: 0px;
}

#binaryMatrix {
    margin: 0 auto;
    width: 300px;
    height: 250px;
}

.binary {
    float: left;
    font-size: 1.4em;
}

p {
    font-size: 1em!important;
    font-style: italic!important;
}
